@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

.container {
  margin: 2rem 10%;
}

.header {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  font-weight: 700;
}

.new-game {
  font-size: 1.3rem;
}

.new-game:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.word-grid {
  background-color: #e7e7e7;
  width: 35rem;
  height: 35rem; 
  border: 0.15rem solid black;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.letter {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1rem;
  margin-left: 1rem;
  padding: 0.7rem;
  border: 0.15rem solid black;
  border-radius: 1rem;
}

.summary-header {
  text-align: center;
  font-size: 1.5rem;
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.word {
  text-align: center;
}

.summary-footer {
  text-align: center;
  font-size: 1.5rem;
}

.footer {
  margin: 2rem auto;
  text-align: center;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .summary {
    width: 35rem;
    margin: auto;
    padding: 0.7rem 0;
  }
}